body {
	background-color: rgba(255,219,176, 0.9);
	font-family: sans-serif;
	text-align: center;
}

ol {
	margin-top: 2px;
	color: gray;
}

.area {
	overflow: auto;
	resize: none;
	height: 540px;
	width: 90%;
	outline: none;
	border-width: 3px;
	border-radius: 10px;
	border-color: gray;
	-moz-appearance: none;
	transition: 0.5s; 
	font-size: 15px;
	font-family: sans-serif;
}

.area:hover {
	border-color: darkorange;
	transition: 0.5s;
	box-shadow: 0 0 15px 0 darkorange;
}

#btn_add {
	background-color: white;
	cursor: pointer;
	border: solid;
	border-color: gray;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 30px; 
	padding-left: 30px;
	outline: none;
	transition: 0.1s;
	margin-top: 4px;
}

#btn_add:active {
	border-color: darkorange;
	padding-right: 25px; 
	padding-left: 25px;
	transition: 0.1s;
}

.© {
	color: gray;
	font-weight: bold;
	font-size: 12px;
}
